body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin: 20px 80px 20px 80px;
  }

  title{
    color: #02A7C1;
  }
  
  header{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 40px;
    padding-bottom: 20px;
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  p1{
    color: #02A7C1;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }

  .button-light, button{
    border: 1px solid #02A7C1;
    min-width: 90px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin-left: 15px;
    background-color: white;
    color: #02A7C1 !important;
    cursor: pointer;
  }

  .button-dark{
    background-color: #02A7C1;
    color: white !important;
    padding: 10px 20px;
  }

  .button-light:hover, button:hover{
    background-color: #02A7C1;
    color: white !important;
  }

  .button-dark:hover{
    text-decoration: underline;
  }

  .tour-entry{
    margin-bottom: 50px;
  }

  .tour-entry h2{
    color: #02A7C1;
    text-decoration: none;
  }

  .tour-entry p{
    margin-bottom: 40px;
  }

  .placeholder{
    color: lightgray;
  }

  h5{
    text-align: right;
    text-decoration: none;
    color: #02A7C1;
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
  }

  h4{
    padding-top: 5px;
    font-size: 20px; 
    text-decoration: #333636;
  }

  h6{
    font-size: 15px; 
  }

  p{
    color: #333636;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  h3{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: #02A7C1;
  }

  h1{
    font-weight: bold;
    color: #02A7C1;
  }

  a{
    color: #02A7C1;
    text-decoration: none;
    margin-left: 10px;
  }

  .no-margin, button{
    margin: 20px 0 !important;

  }

  .listings h1{
    display: inline-block;
    margin-right: 20px;
  }

  .button_classified a:hover{
    color: white !important;
  }
