body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin: 20px 80px 20px 80px;
  }

  title{
    color: #02A7C1;
  }
  
  header{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  p1{
    color: #02A7C1;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }

  .button-base{
    border: 2px solid #02A7C1;
    min-width: 270px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: white;
    color: #02A7C1 !important;
    cursor: pointer;
  }

  .button-light{
    border: 2px solid  #02A7C1 !important;
    width: 100px !important;
    height: 15px !important;
    line-height: 15px !important;
    display: inline-block !important;
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
    color: #02A7C1 !important;
    cursor: pointer;
    border-radius: 5px;
  }

  form{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    
    width: 20%;
    } 

  button[type=submit] {
    border: 2px solid  #02A7C1 !important;
    width: 130px !important;
    height: 40px !important;
    line-height: 40px !important;
    display: inline-block !important;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
    color: #02A7C1 !important;
    cursor: pointer;
    border-radius: 5px;    
}

button[type=submit]:hover{
  background-color: #02A7C1 !important;
  color: white !important;
  font-weight: bold;
}

  .button-add{
    border: 2px solid #02A7C1 !important;
    min-width: 70px !important;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin-left: 50px;
    margin-right: 0px;
    background-color: white;
    color: #02A7C1 !important;
    cursor: pointer;
    border-radius: 5px;   
  }

  .button-dark{
    background-color: #02A7C1;
    color: white !important;
    padding: 10px 20px;
    margin-top: 20px;    
  }
  
a{
    color: #02A7C1;
    text-decoration: none;
    margin-left: 0px;
    margin-top: 0px;
  }

  .button-light:hover, .button-add:hover, .button-base:hover {
    background-color: #02A7C1;
    color: white !important;
    font-weight: bold;
  }

  .button-dark:hover{
    font-weight: bold;
  }

  

  .tour-entry h2{
    color: #02A7C1;
    text-decoration: none;
  }

  .tour-entry p{
    margin-bottom: 40px;
  }

  .placeholder{
    color: lightgray;
  }

  h5{
    text-align: right;
    text-decoration: none;
    color: #02A7C1;
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
  }

  h4{  
    font-size: 20px; 
    text-decoration: #333636;
    margin-bottom: 7px;
    margin-top: 7px;
  }

  h6{
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 7px;
  }

  p{
    color: #333636;
    margin-bottom: 3px;
    margin-top: 3px;    
  }

  h2{
    
    margin-bottom: 10px;
  }
  
  h3{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: #02A7C1;
  }

  h1{
    font-weight: bold;
    color: #02A7C1;
  } 

  .no-margin, button{
    margin: 20px 0 !important;

  }

  .listings h1{
    display: inline-block;    
  }

  .button_classified a:hover{
    color: white !important;
  }

  .home-page{
    display: flex;
  }
 
  