{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title> Local Services Board </title> 
</head>

<body style="background-color: palegoldenrod;">
    {% if user.is_authenticated %}
    <h5> Hi, {{user.first_name}}</h5>
    <h5><a href="{% url 'logout' %}">LOG OUT</a></h5>
    {% else %}
    <h5>You're not logged in</h5>
    <h5><a href="{% url 'login' %}">LOG IN</a></h5>
    <h5><a href="{% url 'signup' %}">SIGN UP</a></h5>


    {% endif %}

    <p1> LOCAL SERVICES</p1>
       
       
<header>
    <a href="{% url 'home' %}">  HOME  </a> |
    <a href="{% url 'classifieds' %}">  CLASSIFIEDS   </a> |
    <a href="{% url 'about' %}">  ABOUT   </a>



</header>

{% block content %} {% endblock content %}


</body>
</html>