{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="tour-entry">

    <h1>Listing detailed info:</h1>
    <h2>Title: {{ classified.title }}</h2>
    <h4>Description: {{ classified.body }}
      <br>   
       Location: {{ classified.area }}   
       <br> 
       Contact: {{classified.author.first_name}}
       <br>
       Phone: {{classified.phone}}</h4>


    {% if user == classified.author %}
        
    <div class="buttons">

    <button class = 'button_classified'>
      <a href="{% url 'classified_edit' classified.pk %}">Edit</a>
    </button>

    <button class = 'button_classified'>
      <a href="{% url 'classified_delete' classified.pk %}">Delete</a>
    </button>

    </div>
    
    {% endif %}

    
    {% if classified.review_set.count == 0 %}
    
    <h4>No reviews yet</h4>

    {% else %}
    <h4>Reviews</h4>

    {% for review in classified.review_set.all %}
    <div class="tour-entry">
        <p>{{ review.rating }} {{ review }} </p>        
    </div>
    {% endfor %}

    {% endif %}
        
    {% if user.is_authenticated %}
    <h4>Add your review</h4>
    
      <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}

        <div><button class = 'button_review' type="submit">Save</button></div>
      </form>
    
    {% endif %}


  </div>

{% endblock content %}