{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="tour-entry">

    <h1>Listing</h1>
    <h2>Title: {{ classified.title }}</h2>
    <h4>Description: {{ classified.body }}
      <br>   
       Location: {{ classified.area }}   
       <br> 
       Contact: {{classified.author.first_name}}
       <br>
       Phone: {{classified.phone}}</h4>
       
        Published on: {{classified.date}}


    {% if user == classified.author %}
        
    <div class="buttons">

    <button class = 'button_classified'>
      <a href="{% url 'classified_edit' classified.pk %}">Edit</a>
    </button>

    <button class = 'button_classified'>
      <a href="{% url 'classified_delete' classified.pk %}">Delete</a>
    </button>

    </div>
    
    {% endif %}

    <h2>Reviews</h2>

    {% if classified.review_set.count == 0 %}
        <h4>No reviews yet</h4>
    {% else %}
    

    {% for review in classified.review_set.all %}
    <div>
      <h6>Raiting:  
        {% if review.rating == 1 %}
        <img src="{% static 'images/1star.png' %}" alt="1star" width="75" height="15" >
        {% elif review.rating == 2 %}
        <img src="{% static 'images/2stars.png' %}" alt="2stars" width="75" height="15" >
        {% elif review.rating == 3 %}
        <img src="{% static 'images/3stars.png' %}" alt="3stars" width="75" height="15" >
        {% elif review.rating == 4 %}
        <img src="{% static 'images/4stars.png' %}" alt="4stars" width="75" height="15" >
        {% elif review.rating == 5 %}
        <img src="{% static 'images/5stars.png' %}" alt="5stars" width="75" height="15" >
       
    
        {% endif %}
        <br>   
         {{ review.title }}</h6>   
        
         {{review.body}}
         <br>
         
       Author: {{review.author.first_name}}<br>
       Published on: {{review.date}}<br> <br>
        

    </div>
    {% endfor %}

    {% endif %}
        
    {% if user.is_authenticated %}
    <h6>Add new review</h6>
    
      <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}

        <div><button class = 'button_review' type="submit">Save</button></div>
      </form>
    
    {% endif %}


  </div>

{% endblock content %}