{% extends "base.html" %} {% block content %}
    <div></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam a error odit ex.
    Nulla iusto architecto impedit veritatis fugiat! Dicta, veniam! Rerum quis, pariatur
    neque unde doloremque asperiores minima cumque consequuntur accusamus quam culpa, fuga
    repellendus adipisci perferendis ut hic explicabo corrupti quos earum tempora iste rem?
    Impedit, aliquam. <br><br>
    Ipsum minima optio earum quis iusto animi sequi asperiores odio nostrum iure, fugiat
    excepturi harum delectus laudantium velit aliquam officiis placeat beatae hic quo? Dolorum
    sed dignissimos ullam accusantium laboriosam ratione, totam perspiciatis aperiam sapiente,
    reiciendis quia itaque iusto est quisquam magni quaerat eos numquam, rem officia iure enim.
    Enim adipisci mollitia quisquam velit error, soluta excepturi dolor omnis veritatis debitis,
    ex nihil et corrupti fugiat qui quasi quo dolorum! Sequi voluptate eaque corrupti cupiditate.
    Odio culpa deserunt sint dolorem et, quos magnam at ab similique assumenda consectetur
    consequuntur dicta quae a quod? Praesentium dolorem architecto iusto fuga perferendis error
    possimus illum nihil dicta, quidem repellat commodi pariatur maiores eos reiciendis minus
    dolore ut doloremque sed? Repellendus delectus, libero exercitationem distinctio labore optio
    sequi, sint possimus esse in, molestias consequatur?
    <br><br>
        
    </p>
    <a href="{% url 'classifieds' %}" class="button-dark">Check out our listings</a>

    <p class="placeholder">
        <br><br>
        This is a project created by Alexey, Mei, Keita, Rosalind and Tracy from Whitecliffe NZ for
        educational purposes only.
    </p>
{% endblock content %}
