{% extends "base.html" %}
{% load static %}
{% block content %}

    <center><img src="{% static 'images/gardening.jpg' %}" alt="home-image" max-width="100%" height="320" ></center><br><br>
    <p>
    
    Welcome to your Local Services Board. We exist to make finding small jobs and listing jobs of your own easier.<br><br>

    Feel free to create an account and start finsing jobs that suit you! You can also list jobs that you need doing, just include the location you are and some of the job description.<br><br>
        
    Make sure that you are safe and do not give out personal information you do not need to. Now get listing your odd jobs or do some extra on the side for others on here.<br><br>
    
        
    </p>
    <a href="{% url 'classifieds' %}" class="button-dark">Check out our listings</a>

    <p class="placeholder">
        <br><br>
        This is a project created by Alexey, Mei, Keita, Rosalind and Tracy from Whitecliffe NZ for
        educational purposes only.
    </p>
{% endblock content %}
